{
  "presets": [
    ["es2015", { "loose" : true }]
  ],
  "plugins": [
    ["transform-builtin-extend", {
      "globals": ["Error"],
      "approximate": true
    }],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
